@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-gradient {
    background: linear-gradient(70.66deg, #FD262C 15.36%, #FF7A00 89.37%);
}

.second-gradient {
    background: linear-gradient(0deg, rgba(234, 90, 117, 0.2) 0%, rgba(234, 90, 117, 0) 80%);
}

.bg_heart {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.heart {
    position: absolute;
    top: -50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -m-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.heart:before {
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

.heart:after {
    position: absolute;
    top: 0;
    right: -50%;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

@-webkit-keyframes love {
    0% {
        top: 110%
    }
}

@-moz-keyframes love {
    0% {
        top: 110%
    }
}

@-ms-keyframes love {
    0% {
        top: 110%
    }
}

@keyframes love {
    0% {
        top: 110%
    }
}